* {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
.container {
  max-width: 300px;
  margin: 100px auto;
}

details {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 3px;
  margin: 5px;
}
summary {
  cursor: pointer;
  font-weight: bold;
}
summary:focus {
  outline: none;
}
summary::-webkit-details-marker {
  color: #6f00ad;
}


input[type=text]{
  width: 200px;
  height: 25px;
  padding: 5px;
  margin: 10px 5px;
  border: none;
  outline: none;
  font-weight: 400;
  background: #e3e4e8;
  color: #2c303a;
  border-radius: 5%;
  caret-color: firebrick;
}

