* {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
.container {
  max-width: 300px;
  margin: 100px auto;
}

details {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 3px;
  margin: 5px;
}
summary {
  cursor: pointer;
  font-weight: bold;
}
summary:focus {
  outline: none;
}
summary::-webkit-details-marker {
  color: #6f00ad;
}
